<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <label for="mime">Enter a number</label>
  <input id="mime" type = "text" name="users_number_2">
  <button>Calculate square root</button>
</form>
