<h1>Calculate Monthly Payment</h1>

<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type = "text" name="user_apr">

  <label for="yrs">Number of years</label>
  <input id="yrs" type = "text" name="user_years">

  <label for="prince">Principal</label>
  <input id="prince" type = "text" name="user_pv">


  <button>Calculate monthly payment</button>


</form>
